@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.woff2') format('woff2'),
        url('./fonts/Inter-Regular.woff') format('woff');
    font-style: normal;
}

:main-content{
    --Green: hsl(180, 100, 50);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);
}

body{
    background-color: var(--OffBlack);
}

.cuadro{
    background-color: var(--DarkGrey);
    padding: 20px 0px 20px 0px;
    border-radius: 5%;
    margin:150px auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    max-width: 300px; 
}

.titulo{
    /* background-color: blue; */
    text-align: center;
}

.Imagen img {
    border-radius: 100%;
    max-width: 100px; 
}

img{
    border-radius: 100%;
}

.botones{
    /* background-color: brown; */
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

button{
    margin: 5px; 
    width: 250px;
    background-color: var(--Grey);
    padding: 10px;
    color:var(--White);
    border: none;
    border-radius: 5%;  
    cursor: pointer; 
}

h4{
    color: var(--Green);
    font-family: 'Inter','Arial';
}

h2{
    color: var(--White);
    font-family: 'Inter','Arial';
}

button:hover {
    background-color:var(--Green);
    color: var(--DarkGrey);
}

p{
    color: darkgray;
    font-family: 'Inter','Arial';
    font-size: 13px;
}
